CompileFlags:
  Add: [
      -std=c++20,
      -Wall,
      -Wextra,
      -Wpedantic,
      # -Werror,
      # -Wno-unused-variable,
      # -Wno-unused-parameter,
      # -Wno-keyword-macro,
    ]
  Compiler: g++-15
Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      # - cppcoreguidelines-*
      - google-*
      - llvm-*
      - modernize-*
      - performance-*
      - portability-*
      - readability-*
    Remove:
      # - cppcoreguidelines-*array*
      # - cppcoreguidelines-*pointer*
      # - cppcoreguidelines-avoid-non-const-global-variables
      - bugprone-easily-swappable-parameters
      - google-build-using-namespace
      - modernize-avoid-c-arrays
      - modernize-use-ranges
      - modernize-use-trailing-return-type
      - readability-avoid-return-with-void-value
      - readability-braces-around-statements
      - readability-function-cognitive-complexity
      - readability-identifier-length
      - readability-implicit-bool-conversion
      - readability-isolate-declaration
      - readability-math-missing-parentheses
  MissingIncludes: None
  UnusedIncludes: None
# Completion:
#   HeaderInsertion: Never # clangd-21
InlayHints:
  Enabled: false
